<ion-header>
    <ion-toolbar>
      <ion-title>
        Login
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <ion-card class="welcome-card text-center">
        <img src="http://85.95.240.159/assets/images/logo.png" class="login_logo" alt="" />
        <ion-label>Bitcoin Finans</ion-label>
        <ion-card-header>
          <ion-card-title class="text-center">HOŞGELDNİZ</ion-card-title>
        </ion-card-header>

        
        <ion-list lines="none">
            <ion-item>
                <ion-label>Email</ion-label>
                <ion-input></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label>Şifre</ion-label>
                  <ion-input></ion-input>
                </ion-item>
        </ion-list>
      </ion-card>
 
  </ion-content>
  